
@{
    Layout = null;
}

@model dem.ViewModels.AccountViewModel

<Style>
    body {
        padding: 5px;
        background-color: black;
        font-family: 'Arial';
    }

    .agile-field-txt {
        word-spacing: 30px;
        margin-bottom: 1em;
        margin-right: 1em;
    }

    .login {
        margin: 400px;
        text-align: center;
        color: #277582;
        padding: 20px;
    }

    label {
        color: #E1A74F;
        font-size: 17px;
    }

    h2 {
        text-align: center;
        color: #E1A74F;
        padding: 20px;
    }

    .center {
        text-align: center;
        color: #E1A74F;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 250px;
        width: 30%;
        height: auto;
        border: 1px solid #73AD21;
        padding: 10px;
        background-color: white;
    }

    input[type=submit] {
        background-color: black;
        border: none;
        color: #E1A74F;
        padding: 8px 16px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }

    input.right {
    
        margin-right:1px;
    }
</Style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="center">
        @using (Html.BeginForm("Login", "Login"))
        {
            @ViewBag.Error
            <h2>Login Page</h2>

            <form id="loginform">
                <div class="agile-field-txt">
                    @Html.LabelFor(model => model.account.Username)
                    @Html.TextBoxFor(model => model.account.Username)
                </div>
                <br />
                <div class="agile-field-txt">
                    @Html.LabelFor(model => model.account.Password)
                    @Html.PasswordFor(model => model.account.Password)
                </div>
                <br />
                
                <input type="submit" value="Login" class="right" />


            </form>
            <div />
        }
    </div>
</body>
</html>
