
@{
    Layout = null;
}

@model dem.ViewModels.AccountViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Login.css" rel="stylesheet" />  
</head>
<body>
    <div class="center">
        @using (Html.BeginForm("Login", "Login"))
        {
            @ViewBag.Error
            <h2>Login Page</h2>

            <form id="loginform">
                <div class="agile-field-txt">
                    @Html.LabelFor(model => model.account.Username)
                    @Html.TextBoxFor(model => model.account.Username)
                </div>
                <br />
                <div class="agile-field-txt">
                    @Html.LabelFor(model => model.account.Password)
                    @Html.PasswordFor(model => model.account.Password)
                </div>
                <br />
                
                <input type="submit" value="Login" class="right" />


            </form>
            <div />
        }
    </div>
</body>
</html>
